/* You can add global styles to this file, and also import other style files */

body {
    background: rgba(122, 101, 101, 0.918);
    color: white;

    font-family: "Bitter", serif;
    font-family: "Dancing Script", cursive;
    font-family: "Kanit", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Overpass", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Mono", monospace;
    font-family: "Roboto Slab", serif;
    font-family: "Sassy Frass", cursive;
    font-family: "Sevillana", cursive;
    font-family: "Ubuntu", sans-serif;
    font-family: "Yeon Sung", cursive;
}
